body{
	background-image: url(http://wallpapercrafter.com/uploads/posts/59508-___gradient-of-night.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}